Repository ansys/grantami-recordlists, pull requests merged in 2024-04, with the labels that each got.

#205 Maint: add license precommit hook
  .pre-commit-config.yaml
  src/ansys/grantami/recordlists/__init__.py
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_logger.py
  src/ansys/grantami/recordlists/_models.py
  tests/conftest.py
  tests/inputs/__init__.py
  tests/inputs/examples.py
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_basic_user.py
  tests/integration/test_integration.py
  tests/test_client.py
  tests/test_connection.py
  tests/test_mocked_responses.py
  tests/test_models.py
Labels: maintenance

#207 Allow `match_all` and `match_any` in boolean criterion
  src/ansys/grantami/recordlists/_models.py
  tests/integration/test_integration.py
  tests/test_models.py
Labels: enhancement

#210 Set version to 1.2.0a0
  pyproject.toml
Labels: maintenance

#211 Bump version to 1.3
  pyproject.toml
Labels: maintenance

#213 Add versionadded directive
  src/ansys/grantami/recordlists/_connection.py
Labels: documentation

#217 Add codecov token
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
Labels: maintenance

#219 Resolve items per database
  src/ansys/grantami/recordlists/_connection.py
  tests/test_item_resolver.py
Labels: bug

#223 CI - skip vm management if active runs
  .github/workflows/server_checks.yml
Labels: maintenance

#221 Add additional include_items tests
  tests/integration/conftest.py
  tests/integration/test_integration.py
Labels: bug

#231 Update labelling workflow
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/label.yml
Labels: maintenance

#233 Use PyGranta workflow to check for active runs
  .github/workflows/server_checks.yml
Labels: maintenance

#235 Update ansys actions
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: maintenance

#237 Upgrade codecov
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
Labels: maintenance

#234 Update serverapi-openapi to 3.0.0b0
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#241 Update release branch with main
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/scripts/check_server.py
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/server_checks.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  poetry.lock
  pyproject.toml
  src/ansys/grantami/recordlists/_connection.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
  tests/test_item_resolver.py
Labels: maintenance, dependencies
