Repository ansys/grantami-recordlists, pull requests merged in 2024-03, with the labels that each got.

#176 Updates to support 2024 R2
  .github/workflows/server_checks.yml
  poetry.lock
  pyproject.toml
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/inputs/examples.py
  tests/integration/conftest.py
  tests/integration/test_basic_user.py
  tests/integration/test_integration.py
  tests/test_client.py
  tests/test_connection.py
  tests/test_models.py
Labels: enhancement, maintenance, dependencies

#82 MAINT: adapt AUTHORS and CONTRIBUTORS files
  AUTHORS
  CONTRIBUTORS.md
Labels: maintenance

#166 Optional filter on record resolvability
  poetry.lock
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/conftest.py
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
  tests/test_client.py
Labels: enhancement, dependencies
