Repository ansys/grantami-recordlists, pull requests merged in 2024-05, with the labels that each got.

#246 Remove vale version
  .github/workflows/ci_cd.yml
Labels: maintenance

#247 Add fixes to changelog
  CHANGELOG.md
Labels: maintenance

#243 CI - Add changelog and deploy-changelog action
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/243.changed.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: maintenance

#248 Use ansys doc build action
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/248.changed.md
Labels: maintenance

#249 Update grantami-serverapi-openapi to 3.0.0
  doc/changelog.d/249.dependencies.md
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#251 Exclude table with dynamic record count from tests
  doc/changelog.d/251.fixed.md
  tests/integration/conftest.py
Labels: bug

#253 Update openapi-common to v2.0.1
  doc/changelog.d/253.dependencies.md
  poetry.lock
Labels: maintenance, dependencies

#252 Prepare 1.2.0 release
  .github/workflows/ci_cd.yml
  doc/changelog.d/253.dependencies.md
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#256 Update openapi-common reference link
  doc/changelog.d/256.miscellaneous.md
  doc/source/conf.py
Labels: documentation

#264 Prepare 1.2.1
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  CHANGELOG.md
  doc/changelog.d/248.changed.md
  doc/changelog.d/249.dependencies.md
  doc/changelog.d/251.fixed.md
  doc/changelog.d/256.miscellaneous.md
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  tests/integration/conftest.py
Labels: documentation, maintenance, dependencies

#266 Don't generate changelog fragments for dependabot PRs
  .github/workflows/label.yml
  doc/changelog.d/266.changed.md
Labels: maintenance

#260 Only run labeler workflow on pull requests
  .github/workflows/label.yml
  doc/changelog.d/260.changed.md
Labels: maintenance

#267 Update changelog
  CHANGELOG.md
  doc/changelog.d/267.changed.md
Labels: maintenance

#268 Re-organize documentation, add user guide
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  README.rst
  doc/Makefile
  doc/changelog.d/268.dependencies.md
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  poetry.lock
  pyproject.toml
Labels: documentation, maintenance, dependencies
