Repository ansys/grantami-recordlists, pull requests merged in 2024-01, with the labels that each got.

#137 Maint: update serverapi-openapi dependency
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/integration/test_basic_user.py
  tests/test_client.py
  tests/test_models.py
  tox.ini
Labels: enhancement, maintenance

#155 Bump serverapi version to 2.0.0
  poetry.lock
  pyproject.toml
Labels: maintenance

#156 Docs: version and install instructions
  README.rst
  doc/source/index.rst
Labels: documentation

#159 Add changelog
  CHANGELOG.md
Labels: maintenance

#160 Bump version for release
  pyproject.toml
Labels: maintenance

#161 Bump dev release version
  pyproject.toml
Labels: maintenance

#163 Update CHANGELOG.md
  CHANGELOG.md
Labels: maintenance

#164 Add release.yml configuration
  .github/labeler.yml
  .github/release.yml
Labels: maintenance

#167 Update lock file
  poetry.lock
Labels: maintenance, dependencies
