Repository ansys/grantami-recordlists, pull requests merged in 2025-05, with the labels that each got.

#402 Perform additional mypy type checking
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/changelog.d/402.added.md
  poetry.lock
  pyproject.toml
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/test_models.py
Labels: enhancement, maintenance, dependencies

#405 Use PyPI-authored publish action
  .github/workflows/ci_cd.yml
  doc/changelog.d/405.maintenance.md
Labels: maintenance

#406 Generate provenance attestations
  .github/workflows/ci_cd.yml
  doc/changelog.d/406.maintenance.md
Labels: maintenance

#401 Clarify audit log search behavior
  doc/changelog.d/401.documentation.md
  src/ansys/grantami/recordlists/_connection.py
Labels: documentation

#408 Revert "Temporarily xfail broken 2025 R2 integration tests (#399)"
  doc/changelog.d/399.maintenance.md
  tests/integration/test_integration.py
Labels: maintenance

#415 Improve documentation for Granta MI version support
  README.rst
  doc/changelog.d/415.documentation.md
Labels: documentation

#413 Re-organize ApiClient hierarchy
  doc/changelog.d/413.added.md
  src/ansys/grantami/recordlists/_connection.py
  tests/integration/test_integration.py
  tests/test_client.py
  tests/test_connection.py
Labels: enhancement

#417 Allow table_guid to be None when searching for and deleting list items
  doc/changelog.d/417.added.md
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
  tests/test_client.py
  tests/test_models.py
Labels: enhancement

#418 Use commit shas to pin action versions
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/418.maintenance.md
Labels: maintenance

#420 Tighten serverapi-openapi version specifier
  doc/changelog.d/420.dependencies.md
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#421 Remove private PyPI references
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/421.dependencies.md
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#423 Add integration checks completeness step at CI top-level
  .github/workflows/ci_cd.yml
  doc/changelog.d/423.maintenance.md
Labels: maintenance

#424 Add 2025 R2 stable test VM
  .github/workflows/server_checks.yml
  doc/changelog.d/424.maintenance.md
Labels: maintenance

#425 Move release branch to use 25R2 release VM
  .github/workflows/server_checks.yml
  doc/changelog.d/425.maintenance.md
Labels: maintenance

#430 Update tornado to 6.5
  doc/changelog.d/430.dependencies.md
  poetry.lock
Labels: maintenance, dependencies

#427 Include changelog in documentation
  CHANGELOG.md
  doc/changelog.d/427.documentation.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance
