Repository ansys/grantami-recordlists, pull requests merged in 2025-03, with the labels that each got.

#374 Add tests against multiple Granta MI versions
  .github/workflows/server_checks.yml
  .pre-commit-config.yaml
  doc/changelog.d/374.dependencies.md
  poetry.lock
  pyproject.toml
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/conftest.py
  tests/inputs/examples.py
  tests/integration/common.py
  tests/integration/conftest.py
  tests/integration/test_basic_user.py
  tests/integration/test_integration.py
  tests/test_client.py
  tests/test_connection.py
  tests/test_item_resolver.py
  tests/test_mocked_responses.py
  tests/test_models.py
Labels: maintenance, dependencies

#377 Start Granta MI 2024 R1 test machine
  .github/workflows/server_checks.yml
  doc/changelog.d/377.maintenance.md
Labels: maintenance

#378 Handle missing Granta MI version for integration tests
  doc/changelog.d/378.fixed.md
  tests/conftest.py
  tests/integration/conftest.py
Labels: bug

#379 Update ansys-openapi-common to v2.2.2
  doc/changelog.d/379.dependencies.md
  poetry.lock
Labels: maintenance, dependencies

#380 Fix Dependabot Configuration for Private PyPI
  .github/dependabot.yml
  doc/changelog.d/380.maintenance.md
Labels: maintenance
