Repository ansys/grantami-recordlists, pull requests merged in 2025-01, with the labels that each got.

#361 Change type of contains_record search to take a RecordListItem
  .github/workflows/ci_cd.yml
  .github/workflows/server_checks.yml
  doc/changelog.d/361.added.md
  examples/02_searching.py
  poetry.lock
  pyproject.toml
  src/ansys/grantami/recordlists/_connection.py
  src/ansys/grantami/recordlists/_models.py
  tests/integration/test_integration.py
  tests/test_connection.py
  tests/test_models.py
Labels: documentation, enhancement, maintenance, dependencies

#362 Update ansys/pre-commit-hooks to 0.5.1
  .pre-commit-config.yaml
  doc/changelog.d/362.maintenance.md
Labels: maintenance

#363 Bump serverapi to 5.0.0dev396
  doc/changelog.d/363.dependencies.md
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies

#364 Bump version to 2.0.0.dev1
  doc/changelog.d/364.maintenance.md
  pyproject.toml
Labels: maintenance
